.hero {
  background-image: url("./pexels-bohlemedia-1884584.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5%;
  box-sizing: border-box;
}

.hero-content {
  max-width: 600px;
  animation: fadeInUp 1s ease-in-out;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-content p {
  font-size: 1.125rem;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #f0f0f0;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.btn {
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-light {
  background-color: #ffffff;
  color: #000000;
}

.btn-light:hover {
  background-color: #f0f0f0;
}

.btn-dark {
  background-color: #000000;
  color: #ffffff;
}

.findmore {
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #000000;
  color: #ffffff;
}

.btn-dark:hover {
  background-color: #222222;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}