.login {
  height: 90vh;
  width: 100vw;
  > main {
    height: 90%;
    // background-color: skyblue;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    > h1 {
      font-weight: 400;
      letter-spacing: 5px;
    }
    > div {
      position: relative;

      > label {
        position: absolute;
        top: -1.5rem;
        left: 0;
      }
      > select {
        width: 20rem;
        padding: 1rem;
        margin: 0.5em;
        border-radius: 5px;
        border: 1px solid rgb(80, 77, 77);
        color: rgb(62, 62, 62);
        cursor: pointer;
      }
      > input {
        width: 20rem;
        padding: 1rem;
        margin: 0.5em;
        border-radius: 5px;
        border: 1px solid rgb(80, 77, 77);
        color: rgb(62, 62, 62);
        //   cursor: pointer;
      }
    }
    > .google-but {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 20rem;
      align-items: center;
      > p {
        font-weight: 400;
        letter-spacing: 2px;
      }
      > button {
        width: 15rem;
        height: 2.5rem;
        display: flex;
        background-color: rgb(35, 98, 185);
        border: 1px solid rgb(46, 46, 46);
        border-radius: 2px;
        > svg {
          width: 25%;
          height: 100%;
          background-color: white;
        }
        > p {
          margin-top: auto;
          margin-bottom: auto;
          font-weight: 500;
          margin-left: 1rem;
          color: white;
        }
      }
    }
  }
}
